<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="loginT/css/style.css">


</head>
<script type="text/javascript">
    function registerUser(){

        var fname= document.getElementById("fname").value;
        var lname= document.getElementById("lname").value;
        var email= document.getElementById("emailSignup").value;
        var pass= document.getElementById("passSignup").value;
        var managerName = fname + " "+ lname;
        //alert("here " +managerName + email + pass);
        var details = {
            email: email,
            password: pass,
            managerName:  managerName
        };
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/register", true);
        xhttp.setRequestHeader("Content-type", "application/json");


        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == XMLHttpRequest.DONE) {
                //alert(xhttp.responseText);
                var e = JSON.parse(xhttp.responseText)
                if(e.val === true){
                    //sleep(1000);
                    //alert("You are successfully registered! \n Pleas Login to proceed.");
                    document.getElementById("signUpForm").action = "/";
                    document.forms["signUpForm"].submit();
                   // document.getElementById("signUpForm").getAttribute("fname").value = "";
                    document.forms["signUpForm"].reset();
                    //document.getElementsByName("signUpForm").submit();
                }else{
                    //alert("You are successfully registered! \n Pleas Login to proceed.");
                }
            }
            //sleep(1000);
            //alert("You are successfully registered! \n Please Login to proceed.");
        }

        xhttp.send(JSON.stringify(details));
    }

    function checkLogin() {
        var pass= document.getElementById("password").value;
        var email= document.getElementById("email").value;
        //alert(pass + email);
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/login", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        var json = {
            "email":email,
            "password":pass
        };
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == XMLHttpRequest.DONE) {
                //alert(xhttp.responseText);
                var e = JSON.parse(xhttp.responseText)
                if(e.val === true){

                    document.getElementById("loginForm").action = "/dashboard";
                    document.forms["loginForm"].submit();
                   // document.getElementsByName("loginForm").submit();
                }else{

                    alert("Credentials does not match!!");
                    document.getElementById("loginForm").action = "/";
                    document.forms["loginForm"].submit();
                   // document.getElementsByName("loginForm").submit();
                }
            }
        }

        xhttp.send(JSON.stringify(json));

    }
</script>
<body>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div id="signup">
            <h1>Sign Up for Free</h1>

            <form action="#" name="signUpForm" id="signUpForm" >

                <div class="top-row">
                    <div class="field-wrap" >
                        <label>
                            First Name<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" id="fname"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input type="text"required autocomplete="off" id="lname"/>
                    </div>
                </div>

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email"required autocomplete="off" id="emailSignup"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Set A Password<span class="req">*</span>
                    </label>
                    <input type="password"required autocomplete="off" id="passSignup"/>
                </div>

                <button  class="button button-block" onclick="registerUser()" />Get Started</button>

            </form>

        </div>

        <div id="login">
            <h1>Welcome Back!</h1>

            <form  action="#" id="loginForm"  name="loginForm">

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email"required autocomplete="off" id="email"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password"required autocomplete="off" id="password"/>
                </div>

                <p class="forgot"><a href="#">Forgot Password?</a></p>

                <button class="button button-block" onClick="checkLogin()" />Log In</button>

            </form>

        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="loginT/js/index.js"></script>

</body>
</html>
