<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>
    <script src="/js/react.js"></script>
    <script src="/js/react-dom.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link href="loginT/css/style.css" rel="stylesheet">

    <![endif]-->
 <!--   <script type="text/babel">
        var toindex = function(){
            window.location="/index";
        }
    </script>-->
</head>
<body>
    <div class="form">
        <form class="form-signin">
        <div id="space"></div>
        <script type="text/babel">
            var Parent  = React.createClass({
                getInitialState:function(){
                    return {signup:false,login:true}
                },
                switch:function(word){
                    var signup,login;
                    if(word == "signup"){signup = true;login = false;}
                    else{login = true; signup = false;}
                    return this.setState({login:login,signup:signup})
                },
                render:function(){
                    var self = this;
                    return (
                            <div>
                                <div id="tab-group">
                                    <p onClick={self.switch.bind(null,"signup")} className={self.state.signup ? "tab active":"tab"}>Sign Up</p>
                                    <p onClick={self.switch.bind(null,"login")} className={self.state.login ? "tab active":"tab"}> Login</p>
                                </div>
                                { self.state.signup?<Signup/> : null}
                                {self.state.login? <Login /> : null}
                            </div>
                    )
                }
            })
            var Signup = React.createClass({
                render:function(){
                    return (
                            <div>
                                <div id="signup">
                                    <input type="text" id="first" className="form-control" placeholder="First Name"/>
                                    <input type="text" id="last" className="form-control" placeholder="Last Name"/>
                                    <input type="email" id="email" className="form-control" placeholder="Email"/>
                                    <input type="password" id="password" className="form-control" placeholder="Password"/>
                                    <input type="password" id="confirm" className="form-control" placeholder="Confirm Password"/>
                                    <button id="send" type="submit" className="btn btn-lg btn-primary btn-block">Send</button>
                                </div>
                            </div>
                    )
                }
            })
            var Login = React.createClass({
                toindex: function(){
                    window.location="/dashboard";
                    console.log("hi");
                },
                render:function(){
                    return (
                            <div>
                                <div id="login">
                                    <input type="email" id="email" className="form-control" placeholder="Email"/>
                                    <input type="password" id="password" className="form-control" placeholder="Password"/>
                                    <div onClick={ this.toindex }>
                                        <span className="btn btn-lg btn-primary btn-block">Send</span>
                                    </div>
                                </div>
                            </div>
                    )
                }
            })
            ReactDOM.render(<Parent/>,document.getElementById("space"))
        </script>
        <!--<form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onClick=toindex()>Sign in</button>

        </form>-->
        </form>
    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
