<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>281 </title>

    <script src="js/jquery.js"></script>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/react.js"></script>
    <script src="/js/react-dom.min.js"></script>
    <script src="/js/browser.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/sb-admin.css" rel="stylesheet">

    <link href="css/plugins/morris.css" rel="stylesheet">

    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<script type="text/javascript">
  function UserAction() {
   // console.log('ZZZZZZZZZZZZZZZZZZZZZZz');
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/projects", false);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    /*var response = JSON.parse(xhttp.responseText);
    document.getElementById("getprojects").innerHTML = response.length;*/
    console.log(response);
//    $(function () {
      $('#table').bootstrapTable({
        data: response
      });
//    });
  }

  $( document ).ready(function() {
    //UserAction();
  });

</script>

<body>



    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Project Component</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu message-dropdown">-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading"><strong>User Name ...</strong>-->
                                        <!--</h5>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading"><strong>user Name</strong>-->
                                        <!--</h5>-->
                                        <!--&lt;!&ndash;<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p>Lorem ipsum dolor sit amet, consectetur...</p>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-preview">-->
                            <!--<a href="#">-->
                                <!--<div class="media">-->
                                    <!--<span class="pull-left">-->
                                        <!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
                                    <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<h5 class="media-heading"><strong>John Smith</strong>-->
                                        <!--</h5>-->
                                        <!--<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>-->
                                        <!--<p>Lorem ipsum dolor sit amet, consectetur...</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="message-footer">-->
                            <!--<a href="#">Read All New Messages</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu alert-dropdown">-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li>-->
                            <!--<a href="#">View All</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
           <!--  Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        <!--<button type="submit" onclick="UserAction()">Search</button>-->
                    </li>
                    <li>
                        <a>
                            <!--<i class="fa fa-fw fa-bar-chart-o"></i>  Projects-->
                            <i class="fa fa-fw fa-bar-chart-o" onclick="UserAction()"></i>  Projects
                        </a>
                    </li>
                    <li>
                        <a href="forms"><i class="fa fa-fw fa-edit"></i> Create Project</a>
                    </li>
                    <li>
                        <a href="Charts"><i class="fa fa-fw fa-edit"></i> Charts</a>
                    </li>
                    <li>
                        <a href="timeline"><i class="fa fa-fw fa-dashboard"></i> Timeline</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Manager Dashboard <small> Project Overview</small>
                        </h1>

                    </div>
                </div>

                <div class="row">
                    <!--<div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">


                            &lt;!&ndash;<div class="container">
                                <table id="table" data-height="800" width="800">
                                    <thead>
                                    <tr>
                                        <td data-field="ManagerName" width="250"> Manager                </td>
                                        &lt;!&ndash;<th data-field="title" style="width:40px">Title</th>&ndash;&gt;
                                        &lt;!&ndash;<th data-field="description" style="width:40px">Description</th>&ndash;&gt;
                                        &lt;!&ndash;<th data-field="URL" style="width:40px">URL</th>&ndash;&gt;
                                    </tr>
                                    <tr>
                                        <td data-field="title" width="250"> <div>Title</div></td>
                                    </tr>
                                    <tr>
                                        <td data-field="URL" width="250"> <div >URL</div></td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>&ndash;&gt;

                        </div>
                    </div>-->
                    <div id="petAppointments"></div>
                    <script type="text/babel">
                        var MainInterface = React.createClass({
                            getInitialState: function() {
                                return {
                                    myData: []
                                }
                            },
                            componentDidMount: function() {
                                //this.serverRequest = $.get('/json/data.json', function(result) {
                                this.serverRequest = $.get('http://localhost:3000/projectslist', function (result) {
                                    var tempApts = result;
                                    this.setState({
                                        myData: tempApts
                                    });//setState
                                }.bind(this));
                            },
                            componentWillUnmount: function () {
                                this.serverRequest.abort();
                            },
                            render: function(){
                                var filteredApts = this.state.myData;
                                filteredApts = filteredApts.map(function (item, index) {
                                    return(
                                        <li className="pet-item media" key={index}>
                                            <div className="pet-info media-body">
                                                <div>
                                                    <table id="table" data-height="1800" width="800">
                                                        <thead>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250"> Title:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</td>
                                                                    <td className="label-item">    {this.state.myData[index].title}
                                                                    </td>

                                                            </tr>
                                                            <tr>
                                                                <br />
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250">Description:&ensp;</td>
                                                                <td><div className="label-item">{this.state.myData[index].description}</div></td>
                                                            </tr>
                                                            <tr>
                                                                <br />
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250"> Start:&ensp;</td>
                                                                 <td>   <div className="label-item">{this.state.myData[index].creation_date.substr(0,10)}</div></td>
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250"> End:&ensp;</td>
                                                                    <td>    <div className="label-item">{this.state.myData[index].dead_date.substr(0,10)}</div></td>

                                                            </tr>
                                                            <tr>
                                                                <br />
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250">URL:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; </td>
                                                                <td> <div className="label-item">{this.state.myData[index].url}</div></td>
                                                            </tr>
                                                            <tr>
                                                                <br />
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250">Manager:&ensp;&ensp;&ensp;&ensp;</td>
                                                                  <td>  <div className="label-item">{this.state.myData[index].ManagerName}</div></td>
                                                            </tr>
                                                            <tr>
                                                                <br />
                                                            </tr>
                                                            <tr>
                                                                <td className="pet-name" data-height="200" data-field="title" width="250">Cases:&ensp;&ensp;&ensp;&ensp;</td>
                                                                <td><div className="label-item">{this.state.myData[index].case_name}</div></td>
                                                            </tr>

                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                    )
                                }.bind(this));
                                return(
                                    <div className="interface">
                                        <ul className="item-list media-list">{filteredApts}</ul>
                                    </div>

                                )
                            }
                        });
                        ReactDOM.render(
                                <MainInterface />,document.getElementById('petAppointments')
                        )
                    </script>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
